<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.PlaceMapper">

    <insert id="insertHospital" parameterType="org.scoula.dto.PlaceDTO">
        INSERT INTO hospital (apt_idx, officetel_idx, place_name, distance, road_address_name)
        VALUES (#{aptIdx}, #{officetelIdx}, #{placeName}, #{distance}, #{address})
    </insert>

    <insert id="insertSchool" parameterType="org.scoula.dto.PlaceDTO">
        INSERT INTO school (apt_idx, officetel_idx, place_name, distance, road_address_name)
        VALUES (#{aptIdx}, #{officetelIdx}, #{placeName}, #{distance}, #{address})
    </insert>

    <insert id="insertMart" parameterType="org.scoula.dto.PlaceDTO">
        INSERT INTO mart (apt_idx, officetel_idx, place_name, distance, road_address_name)
        VALUES (#{aptIdx}, #{officetelIdx}, #{placeName}, #{distance}, #{address})
    </insert>

    <insert id="insertSubway" parameterType="org.scoula.dto.PlaceDTO">
        INSERT INTO subway (apt_idx, officetel_idx, place_name, distance, road_address_name)
        VALUES (#{aptIdx}, #{officetelIdx}, #{placeName}, #{distance}, #{address})
    </insert>

    <insert id="insertKindergarten" parameterType="org.scoula.dto.PlaceDTO">
        INSERT INTO kindergarten (apt_idx, officetel_idx, place_name, distance, road_address_name)
        VALUES (#{aptIdx}, #{officetelIdx}, #{placeName}, #{distance}, #{address})
    </insert>

    <!-- 중복 체크 -->
    <select id="existsPlace" parameterType="map" resultType="boolean">
        <choose>
            <when test="placeType == 'hospital'">
                SELECT EXISTS(
                SELECT 1 FROM hospital
                WHERE apt_idx = #{aptIdx}
                AND place_name = #{placeName}
                AND road_address_name = #{address}
                )
            </when>
            <when test="placeType == 'school'">
                SELECT EXISTS(
                SELECT 1 FROM school
                WHERE apt_idx = #{aptIdx}
                AND place_name = #{placeName}
                AND road_address_name = #{address}
                )
            </when>
            <when test="placeType == 'mart'">
                SELECT EXISTS(
                SELECT 1 FROM mart
                WHERE apt_idx = #{aptIdx}
                AND place_name = #{placeName}
                AND road_address_name = #{address}
                )
            </when>
            <when test="placeType == 'subway'">
                SELECT EXISTS(
                SELECT 1 FROM subway
                WHERE apt_idx = #{aptIdx}
                AND place_name = #{placeName}
                AND road_address_name = #{address}
                )
            </when>

            <when test="placeType == 'kindergarten'">
                SELECT EXISTS(
                SELECT 1 FROM kindergarten
                WHERE apt_idx = #{aptIdx}
                AND place_name = #{placeName}
                AND road_address_name = #{address}
                )
            </when>
            <otherwise>
                SELECT FALSE
            </otherwise>
        </choose>
    </select>

    <delete id="truncateHospital">TRUNCATE TABLE hospital;</delete>
    <delete id="truncateMart">TRUNCATE TABLE mart;</delete>
    <delete id="truncateSchool">TRUNCATE TABLE school;</delete>
    <delete id="truncateSubway">TRUNCATE TABLE subway;</delete>
    <delete id="truncateKindergarten">TRUNCATE TABLE kindergarten;</delete>

    <!-- 아파트 공고 조회 -->
    <select id="findAptNotices" resultType="map">
        SELECT
        a.house_mange_no AS houseMangeNo,
        a.house_nm       AS houseNm,
        a.house_secd_nm  AS houseSecdNm,
        a.si             AS si,
        a.sigungu        AS sigungu,
        a.rcept_bgnde    AS rceptBgnde,
        a.rcept_endde    AS rceptEndde
        FROM apt_table a
        WHERE 1=1
        <if test="homePrice != null and homePrice.hopeMinPrice != null">
            AND a.price &gt;= #{homePrice.hopeMinPrice}
        </if>
        <if test="homePrice != null and homePrice.hopeMaxPrice != null">
            AND a.price &lt;= #{homePrice.hopeMaxPrice}
        </if>
        <if test="regions != null and regions.size() &gt; 0">
            AND a.si IN
            <foreach item="region" collection="regions" open="(" separator="," close=")">
                #{region.si}
            </foreach>
        </if>
        <if test="homesizes != null and homesizes.size() &gt; 0">
            AND a.size IN
            <foreach item="hs" collection="homesizes" open="(" separator="," close=")">
                #{hs.size}
            </foreach>
        </if>
        <if test="hometypes != null and hometypes.size() &gt; 0">
            AND a.house_secd_nm IN
            <foreach item="ht" collection="hometypes" open="(" separator="," close=")">
                #{ht.type}
            </foreach>
        </if>
    </select>


    <!-- 오피스텔 공고 조회 -->
    <select id="findOfficetelNotices" resultType="map">
        SELECT
        o.house_mange_no AS houseMangeNo,
        o.house_nm       AS houseNm,
        o.house_secd_nm  AS houseSecdNm,
        o.si             AS si,
        o.sigungu        AS sigungu,
        o.rcept_bgnde    AS rceptBgnde,
        o.rcept_endde    AS rceptEndde
        FROM officetel_table o
        WHERE 1=1
        <if test="homePrice != null and homePrice.hopeMinPrice != null">
            AND o.price &gt;= #{homePrice.hopeMinPrice}
        </if>
        <if test="homePrice != null and homePrice.hopeMaxPrice != null">
            AND o.price &lt;= #{homePrice.hopeMaxPrice}
        </if>
        <if test="regions != null and regions.size() &gt; 0">
            AND o.si IN
            <foreach item="region" collection="regions" open="(" separator="," close=")">
                #{region.si}
            </foreach>
        </if>
        <if test="homesizes != null and homesizes.size() &gt; 0">
            AND o.size IN
            <foreach item="hs" collection="homesizes" open="(" separator="," close=")">
                #{hs.size}
            </foreach>
        </if>
        <if test="hometypes != null and hometypes.size() &gt; 0">
            AND o.house_secd_nm IN
            <foreach item="ht" collection="hometypes" open="(" separator="," close=")">
                #{ht.type}
            </foreach>
        </if>
    </select>


</mapper>
