<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.UserFavoriteMapper">
    <insert id="insertUserFavorite" parameterType="org.scoula.dto.UserFavoriteDTO">
        INSERT INTO user_favorite (
            users_idx,
            apt_pblanc,
            office_pblanc,
            predicted_win_rate,
            predicted_cutoff_score
        )
        VALUES (
                   #{usersIdx},
                   #{aptPblanc},
                   #{officePblanc},
                   #{predictedWinRate},
                   #{predictedCutoffScore}
               )
    </insert>



    <select id="countByUsersIdxAndAptPblanc" resultType="int">
        SELECT COUNT(*)
        FROM user_favorite
        WHERE users_idx   = #{usersIdx}
          AND apt_pblanc   = #{aptPblanc}
    </select>

    <select id="countByUsersIdxAndOfficePblanc" resultType="int">
        SELECT COUNT(*)
        FROM user_favorite
        WHERE users_idx      = #{usersIdx}
          AND office_pblanc  = #{officePblanc}
    </select>

    <delete id="deleteByUsersIdxAndAptPblanc" parameterType="map">
        DELETE FROM user_favorite
        WHERE users_idx = #{usersIdx}
          AND apt_pblanc = #{aptPblanc}
    </delete>

    <delete id="deleteByUsersIdxAndOfficePblanc" parameterType="map">
        DELETE FROM user_favorite
        WHERE users_idx = #{usersIdx}
          AND office_pblanc = #{officePblanc}
    </delete>

    <select id="findAptHouseByPblancNo" resultType="org.scoula.dto.HouseListDTO">
        SELECT *
        FROM vw_all_house_list
        WHERE pblanc_no = #{pblancNo}
          AND house_type IN ('APT', '신혼희망타운')
    </select>


    <select id="findOfficetelHouseByPblancNo" resultType="org.scoula.dto.HouseListDTO">
        SELECT *
        FROM vw_all_house_list
        WHERE pblanc_no = #{pblancNo}
          AND house_type IN ('오피스텔', '도시형생활주택')
    </select>


    <select id="findFavoritesByUsersIdx" resultType="org.scoula.dto.UserFavoriteDTO">
        SELECT
            user_favorite_idx,
            users_idx,
            apt_pblanc,
            office_pblanc,
            predicted_win_rate,
            predicted_cutoff_score
        FROM user_favorite
        WHERE users_idx = #{usersIdx}
    </select>
    <select id="countFavoritesByPblancNo" resultType="int">
        SELECT COUNT(*)
        FROM user_favorite
        WHERE apt_pblanc = #{pblancNo} OR office_pblanc = #{pblancNo}
    </select>

</mapper>
